.classpath
.project
.settings/
.idea/
.m2/
.jdoc/
*.iml
*.iws
*.swp
*.db
*.orig
.DS_Store
.directory
target/
out/
build.xml
/build/
nbproject/
bin/
.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.profile
.selected_editor
.ssh/
.viminfo
.vim/
cronlog/
